@import "tailwindcss";
@plugin 'tailwind-scrollbar';

/*#4764A8 accent*/

/*
    #E3AE3D - 1 yellow
    #C46345 - 2 brown
    #2C6AA3 - 3 blue
*/

@theme {
    --color-accent1: #2C6AA3;
    --color-accent2: #C46345;
    --color-accent3: #E3AE3D;
}
